{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="row">
  <div class="col-xl-3 col-md-6">
    <a href="{%url 'products:products' %}"  class="btn btn-dark">Welcome To My Shop</a>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-5 g-4">
  
  {% for product in product_list %}    
  <div class="col">
    <div class="card">
      <img style="width:150px;height:150px" src="{% static 'images/' %}{{ product.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text"> price= {{ product.price }}$ <br> Seller ={{ product.seller }}  <br> Quantity= {{ product.quantity }} </p>
        {% if user.is_staff %}
        <a href="{%url 'products:delete_product'  product.id%}"  class="btn btn-danger">DELETE</a>
        {% endif %}
        <a href="{% url 'products:add_to_cart'  product.id %}" class="btn btn-danger">ADD TO CART</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

